body {
    background-color: rgb(0, 0, 0);

}

.box {
    background-color: rgb(169, 83, 190);
    width: 50px;
    height: 50px;
    border: 1px solid rgb(130, 40, 138);
    display: flex; 
    justify-content: center;  
    align-items: center;  
}

.linha1 {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
}

.linha2 {
    display: flex;  
    justify-content: center;
    gap: 10px;
}

.linha3 {
    display: flex;
    justify-content: flex-end;  
    gap: 10px;
}

.linha4 {
    display: flex;
    justify-content: space-between;  
    gap: 10px;
}

.linha5 {
    display: flex;
    justify-content: space-around;  
    gap: 10px;
}

.linha6 {
    display: flex;
    justify-content: space-evenly;  
    gap: 10px;
}

.linha7 {
    display: flex;
    justify-content: center;  
    gap: 10px;
}

.linha8 {
    display: flex;
    justify-content: space-between;  
    gap: 10px;
}

.linha9 {
    display: flex;
    justify-content: space-around;  
    gap: 10px;
}

.linha10 {
    display: flex;
    justify-content: center;  
    gap: 10px;
}